body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:853px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:25px;
  width:100px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u1 {
  position:absolute;
  left:180px;
  top:25px;
  width:100px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2 {
  position:absolute;
  left:320px;
  top:25px;
  width:100px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3 {
  position:absolute;
  left:460px;
  top:25px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:40px;
  top:105px;
  width:813px;
  height:455px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:455px;
}
#u5 {
  position:absolute;
  left:2px;
  top:220px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:350px;
  top:316px;
  width:163px;
  height:34px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:604px;
  top:3px;
  width:186px;
  height:69px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:69px;
}
#u9 {
  position:absolute;
  left:2px;
  top:26px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
