body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:139px;
  width:606px;
  height:266px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:266px;
}
#u1 {
  position:absolute;
  left:2px;
  top:125px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:482px;
  width:606px;
  height:183px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:183px;
}
#u3 {
  position:absolute;
  left:2px;
  top:84px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:721px;
  width:606px;
  height:114px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:114px;
}
#u5 {
  position:absolute;
  left:2px;
  top:49px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:268px;
  top:748px;
  width:150px;
  height:60px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:40px;
  top:893px;
  width:353px;
  height:60px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:60px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:443px;
  top:893px;
  width:203px;
  height:60px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:40px;
  top:1001px;
  width:606px;
  height:764px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:764px;
}
#u10 {
  position:absolute;
  left:2px;
  top:374px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:104px;
  top:1060px;
  width:225px;
  height:45px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:45px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:145px;
  top:1145px;
  width:74px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:145px;
  top:1207px;
  width:61px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:433px;
  top:1160px;
  width:100px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:433px;
  top:1207px;
  width:100px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:40px;
  top:25px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:180px;
  top:25px;
  width:100px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:320px;
  top:25px;
  width:100px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:460px;
  top:25px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
